@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
h1 {
  font-family: "Bebas Neue";
  font-size: 40px;
}
h2 {
  font-family: "Bebas Neue";
  font-size: 30px;
}
h3 {
  font-family: "Bebas Neue";
  font-size: 25px;
}
p,
li,
nav,
input {
  font-family: "Montserrat";
  font-size: 16px;
}
a {
  font-family: "Bebas Neue";
  font-size: 20px;
  color: #eb5428;
}
footer,
.footer-icons {
  font-family: "Bebas Neue";
  font-size: 20px;
}
html {
  background-color: rgba(122, 191, 191, 0.5);
}
body {
  max-width: 1280px;
  margin: auto;
  background-color: #f2f2f2;
}
.nav {
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  height: 6.1rem;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.5);
}
.menu {
  display: none;
}
.nav-img {
  height: 3.6rem;
  padding: 20px;
  background-color: #eb5428;
  float: left;
}
.nav-ul-li {
  width: 70%;
  display: flex;
  overflow: hidden;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
}
.nav-ul-li li {
  padding: 1re;
  display: flex;
  flex-direction: column;
  color: #eb5428;
  align-items: center;
}
li img {
  height: 3.5rem;
  width: 4rem;
}
li a {
  text-decoration: none;
}
.user {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user p {
  font-family: "Bebas Neue";
  font-size: 20px;
}
.user img {
  height: 2rem;
  width: 2rem;
}
.user p {
  margin-top: 5px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}
.search input {
  border: #eb5428 solid 4px;
  height: 2rem;
  width: 17rem;
}
.search svg {
  background-color: #eb5428;
}
.header-heading {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue";
  font-size: 40px;
}
.tacos {
  display: flex;
}
.side-icon {
  justify-content: center;
  height: 80vh;
}
.side-icon-list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
  list-style: none;
  color: #eb5428;
  height: auto;
}
.side-icon-list li {
  padding-top: 20px;
}
.header-img img {
  width: 30vw;
  height: 100%;
}
.paragraph {
  padding: 10px;
  font-family: "Montserrat";
  font-size: 16px;
}
.details {
  background-color: black;
  color: #7abfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
}
.detail-ul {
  margin: 10px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  list-style: none;
}
.detail-ul li {
  text-align: center;
}
.detail-after {
  display: flex;
  padding: 25px;
}
.ingredients {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ingredients li {
  padding: 5px 0px 5px;
}
.directions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.directions li {
  margin-left: 50px;
  padding: 10px 0px 10px;
}
.rating-bar {
  background-color: #7abfbf;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 10px;
}
.rating-bar-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.rating-bar-item img {
  width: 234px;
  height: 234px;
}
.section {
  display: flex;
  justify-content: space-around;
  width: 105%;
}

.rice {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.rice h3 {
  margin: 5px;
}
.rice p {
  margin: 5px;
}
.rating {
  display: flex;
  align-items: center;
}

.salsa {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.salsa h3 {
  margin: 5px;
}
.salsa p {
  margin: 5px;
}

.guacamole {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.guacamole h3 {
  margin: 5px;
}
.guacamole p {
  margin: 5px;
}

.tortillas {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.tortillas h3 {
  margin: 5px;
}
.tortillas p {
  margin: 5px;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px 20px;
}
.img-copy-right {
  display: flex;
}
.img-copy-right img {
  width: 150px;
  height: 150px;
}
.footer-icons {
  display: flex;
  width: 40%;
  justify-content: space-around;
}
.footer-icon-text-aline {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #eb5428;
}
.footer-icon-text-aline a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .search {
    position: absolute;
    top: 5px;
    right: 90px;
  }

  .nav {
    height: 23vh;
    background-color: #ffffff;
    box-shadow: 0px 3px 8px 1px rgba(0, 0, 0, 0.5);
  }
  .user {
    position: absolute;
    top: 0px;
    right: 5px;
  }
  .nav ul {
    position: absolute;
    top: 13vh;
    margin: auto;
    width: 100%;

  }
  .header-heading {
    float: left;
    margin: 15px 10px 10px;
  }
  .tacos {
    float: left;
    flex-direction: column;
  }
  .side-icon {
    border: none;
    flex-direction: row;
    height: 10vh;
    background-image: url(images/street-tacos.png);
  }
  .side-icon-list {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 0px 0px 15px;
    background-color: none;
    flex-direction: row;
    justify-content: space-around;
  }

  .header-img img {
    width: 100%;
    margin-top: 0px;
  }
  .details {
    float: left;
    width: 100%;
    color: black;
    background-color: #f2f2f2;
  }
  .detail-ul {
    flex-direction: column;
    align-items: center;
    width: 28%;
  }
  .detail-ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .detail-ul li > h3 {
    font-size: 20px;
  }
  .ingredients {
    width: 40%;
  }
  .directions {
    width: 60%;
  }
  .section {
    flex-direction: column;
    width: 50%;
  }
  .rating-bar-item-row {
    flex-direction: row;
    width: 90%;
    margin: 10px 0px 20px;
  }

  .rating-bar-item-row img {
    width: 120px;
    height: 120px;
  }
  .mexican-rice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
  }

  .img-copy-right {
    padding-left: 50px;
    padding-right: 20px;
    flex-direction: column;
    align-items: center;
  }
  .img-copy-right h3 {
    font-size: 20px;
    margin-top: 15px;
  }
  .footer-icons {
    width: 60%;
  }
}

@media only screen and (max-width: 414px) {
  body {
    margin: auto;
  }
  .nav-ul-li.active{
    display: block;
  }
  
  .nav-ul-li {
    display: none;
    flex-direction: column;
    z-index: 1;
    padding: 10px 0px 10px;
    background-color: #ffffff;
  }
  .menu {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-left: 13px;
  }

  .menu p {
    margin: auto;
  }
  .menu p {
    font-family: "Bebas Neue";
    font-size: 20px;
  }
  .nav-img {
    position: absolute;
    top: 0px;
    left: 80px;
    right: 80px;
  }
  .nav {
    height: 10.9vh;
  }
  .search {

    position: relative;
    left: 10px;
  }
  .header-heading {
    position: relative;
    left: 100px;
    right: 100px;
  }
  .side-icon {
    background-color: none;
    background-image: none;
  }
  .side-icon-list {
    background-color: none;
  }
  .detail-ul {
    width: 100%;
  }
  .detail-ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
  }
  .detail-ul li > p {
    margin-left: 10px;
  }
  .detail-after {
    flex-direction: column;
  }
  .ingredients {
    width: 60%;
  }
  .directions {
    width: 100%;
  }
  .rating-bar-item {
    flex-direction: column;
    justify-content: left;
  }
  .section {
    width: 100%;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer-icons {
    width: 100%;
  }
  .img-copy-right {
    margin-top: 30px;
  }
}
